# b/178757686
dontaudit dumpstate incident:process signal ;
dontaudit dumpstate incident:process signal ;
dontaudit dumpstate incident:process sigkill ;
dontaudit dumpstate incident:process sigkill ;
